<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".OfflinePWApplication"
        android:allowBackup="false"
        android:label="OfflinePW"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.Material3.Dark.NoActionBar">

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AuthActivity"
            android:exported="false"
            android:launchMode="singleTask" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- اشتراک‌گذاری فایل بکاپ با سایر اپ‌ها/ذخیره در دایره‌ی خصوصی اپ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.offlinepw.vault.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- کاشی «قفل ولت» در تنظیمات سریع (Quick Settings) -->
        <service
            android:name=".LockVaultTileService"
            android:exported="true"
            android:icon="@drawable/ic_tile_lock"
            android:label="Lock OfflinePW"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
    </application>
</manifest>
